.holder{
    height:100vh;
/* 	background-color:yellow; */
	display:flex;
	justify-content:center;
	align-items:center;
}

/* .item-3{
    width: 90px;
    height: 90px;
    background-color: green;
} */
.item-1{
    width: 100px;
    height: 100px;
    background-color: red;
}
/* .item-2{
    width: 90px;
    height: 90px;
    background-color: blue;
} */